@import "tailwindcss";
/* src/index.css */

@layer base {
  :root {
    /* Light theme variables */
    --color-primary-light: 0 151 147; /* #009793 bordes, onclick, marcaciones, hover de iconos, botones de envio de mensajes*/
    --color-secondary-light: 255 150 25; /* #FF9619 botones, hover botones*/
    --color-bg-light: 249 249 249; /* #e9e6e6 fondo*/
    --color-bg-light-secondary: 233 230 230; /* #FFFFFF fondo para barras laterales y menú*/
    --color-text-primary-light: 31 31 31; /* #1F1F1F texto y titulos */
    --color-text-secondary-light: 79 79 79; /* #4F4F4F texto claro, iconos sin seleccionar */

    /* Dark theme variables */
    --color-primary-dark: 0 173 169; /* #00ADA9 bordes, onclick, marcaciones, hover de iconos, botones de envio de mensajes*/
    --color-secondary-dark: 255 165 51; /* #FFA533 botones, hover botones*/
    --color-bg-dark: 22 23 23; /* #2d3e3a fondo*/
    --color-bg-dark-secondary: 29 31 31; /*fondo para barras laterales y menú*/
    --color-text-primary-dark: 255 255 255; /* #FFFFFF texto y titulos*/
    --color-text-secondary-dark: 170 170 170; /* #AAAAAA texto claro, iconos sin seleccionar */
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
